<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Do the thing!</title>
    </head>
    <script>
        var loadFile = function(event) {
            var output = document.getElementById('output');
            output.src = URL.createObjectURL(event.target.files[0]);
        };
    </script>
    <style>
        .random_div {
            text-align: center;
            width: 50%;
            margin: auto;
            box-shadow: 0px 2px 8px 0 rgba(0,0,0,0.4);
        }
        .random_div > form {
            padding: 8px;
        }
        .itune_div {
            text-align: center;
            width: 50%;
            margin: auto;
            box-shadow: 0px 2px 8px 0 rgba(0,0,0,0.4);
        }
        .itune_div > img {
            width: 80%;
        }

    </style>
    <body>
        <div class="itune_div">
            <h1>Find That Artist</h1>
            <img src="/static/images/placeholder.png" id="output"/>
            <form id="image-upload" action="{{ url_for('upload_image') }}" method="post" enctype="multipart/form-data">
                <input type="file" name="file" accept="image/*" onchange="loadFile(event)">
                <input type="submit" value="Upload">
            </form>
        </div>
        <div class="random_div">
            <h1>Inform a Friend!</h1>
            <form id="send-knowledge" action="{{ url_for('send_knowledge') }}" method="post">
                <label>Your Name:</label>
                <br />
                <input type="text" name="name">
                <br />
                <label>Your Friend's email</label>
                <br />
                <input type="text" name="email">
                <br />
                <input type="submit" value="Send the Knowledge!">
            </form>
        </div>
    </body>
</html>